<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To-Do Item</title>
</head>
<body>
    <h1>Add To-Do Item</h1>
    <form action="/submittodoitem" method="POST">
        <label for="itemId">Item ID:</label><br>
        <input type="text" id="itemId" name="itemId" required><br><br>

        <label for="itemUuid">Item UUID:</label><br>
        <input type="text" id="itemUuid" name="itemUuid" required><br><br>

        <label for="itemHash">Item Hash:</label><br>
        <input type="text" id="itemHash" name="itemHash" required><br><br>

        <label for="itemName">Item Name:</label><br>
        <input type="text" id="itemName" name="itemName" required><br><br>
        
        <label for="itemDescription">Item Description:</label><br>
        <input type="text" id="itemDescription" name="itemDescription" required><br><br>
        
        <input type="submit" value="Submit Item">
    </form>
</body>
</html>